<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    <link rel="stylesheet" href="styles.css">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extractive Text Summarizer</title>
</head>
<body style="background-color:lightblue;">
    <h1 style="text-align:center">Summarize your text here!</h1>
    <p>Welcome! Currently working on integrating named entity recognition.</p>
    <form method="POST">
        <textarea name="url" id = "url" cols = "125" rows = "40"></textarea>
        <input type = "submit" name="submit" id = "submit">
        <!--
        <input type = "textarea" name="url" id = "url" cols = "100" rows = "30"></textarea>
        <input type = "submit" name="submit" id = "submit"> -->
    </form>
    <hr>
    <div>
        <h1>Spacy Named Entity Recog</h1>
    </div>
    <div>
        <form method="POST" action="/NER">
            <textarea rows = "40" cols ="125" name="rawtext">

            </textarea>
            <button type="reset">Clear</button>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>
